{% load staticfiles %}
<footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.3.0
    </div>
    <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.
</footer>
</div><!-- ./wrapper -->

    <!-- jQuery 2.1.4 -->
    <script src='{% static "plugins/jQuery/jQuery-2.1.4.min.js" %}'></script>
    <!-- Bootstrap 3.3.5 -->
    <script src='{% static "bootstrap/js/bootstrap.min.js" %}'></script>
    <!-- FastClick -->
    <script src='{% static "plugins/fastclick/fastclick.min.js" %}'></script>
    <!-- AdminLTE App -->
    <script src='{% static "dist/js/app.min.js" %}'></script>
    <!-- AdminLTE for demo purposes -->
    <script src='{% static "dist/js/demo.js" %}'></script>
     <!-- Sparkline -->
    <script src='{% static "plugins/sparkline/jquery.sparkline.min.js" %}'></script>
    <!-- jvectormap -->
    <script src='{% static "plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" %}'></script>
    <script src='{% static "plugins/jvectormap/jquery-jvectormap-world-mill-en.js" %}'></script>
    <!-- SlimScroll 1.3.0 -->
    <script src='{% static "plugins/slimScroll/jquery.slimscroll.min.js"%}'></script>
    <!-- ChartJS 1.0.1 -->
    <script src='{% static "plugins/chartjs/Chart.min.js" %}'></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src='{% static "dist/js/pages/dashboard2.js" %}'></script>
    <!-- AdminLTE for demo purposes -->

  </body>
</html>
