<html>
<head><title>Profile list</title></head>
<body>
<h1>List of profiles(users)</h1>
{{profile_list}}//{{user}}
{% for profile in profile_list%}
<ul>
<li>{{profile.id}}</li>
<li>{{profile.address}}</li>
<li>{{profile.email}}</li>
</ul>{%endfor%}
</body>
</html>